<ion-content id="content">
    <ion-toolbar>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
    <!-- <span id="imagem">
      <img src="../../../assets/icon/favicon.png">
    </span> -->
    <ion-button class="botoes" color="danger" (click)="biblicas()">
      Perguntas Bíblicas
    </ion-button>
    <ion-button class="botoes" color="warning" (click)="torta()">
      Perguntas Torta na cara
    </ion-button>
    <ion-button class="botoes" (click)="charadas()">
      Perguntas e Charadas Infantil
    </ion-button>
    
    
</ion-content>
